*{
    margin: 0%;
    padding: 0%;
}
.h{
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-color: burlywood;
    width: 100%;
}

